---
layout: default
---
<div class="title">
<h2>アトリエリアリテとは？</h2>
</div>
<div class="container-fluid">
<ul>
  <li>VRに興味を持っているメンバーがもくもく創作活動する集団です</li>
  <li>活動状況などもお伝えしていきます</li>
  <li>現在リコーITソリューションズに所属するメンバーが主となり活動していますが、一緒にもくもくしたい方はぜひお声がけください</li>
</ul>
</div>
<hr>

<div class="title">
<h2>関連リンク</h2>
</div>
<div class="container-fluid">
{% include sns.html %}
</div>
<hr>

<div class="title">
<h2>アトリエリアリテとは？</h2>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      メンバー
      <ul>
        <li>yuri🍎</li>
        <li>chano2🐠</li>
        <li>kana🦒</li>
        <li>arahori🐫</li>
        <li>moe🎧</li>
        <li><a href=https://twitter.com/sentomo594>sentomo🐼</a></li>  
        <li>haruno🦈</li>
        <li>siyue🐧</li>
      </ul>
      <h2>卒業生</h2>
      <ul>
          <li>kamo</li>
          <li>ca7mi</li>
          <li>nishii☔</li>
      </ul>
    </div>
    <div class="col">
      応援団
      <ul>
        <li>募集中</li>
      </ul>
    </div>
    <div class="col">
      シショー
      <ul>
        <li>募集中</li>
      </ul>
    </div>
  </div>
</div><!-- container-fluid -->
<hr>


<div class="title">
<h2>入部希望者向け情報</h2>
</div>
<div class="container-fluid">
<a href= "https://docs.google.com/forms/d/e/1FAIpQLSe6slBOk3rHsP4uCjcttQe7-Jt1f066tngfmaflT5sfnmcyyQ/viewform" target="_blank">入部申請する（Googleフォームでの登録となります）</a><br/>
メンバーも応援団もシショーも募集中です。何するの？というのはメンバーを直接つかまえて聞いたり、SNSからお声掛けください。
</div>
<hr>

<div class="title">
<h2>つぶやきとお知らせ</h2>
</div>
<div class="container-fluid">
{% for post in site.categories.repo %}
  <div>
    {{ post.date | date: "%Y.%m.%d" }} <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
  </div>
{% endfor %}
</div>
